/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #f8f8f8;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #f8f8f8;
  border: .05rem solid #f8f8f8;
}


/*
 * Base structure
 */

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #30576c;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #30576c;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

small {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #30576c;
	opacity: 50%;
}

.cover-container {
  /*max-width: 42em;*/
	min-width: 90%;
}

.jumbotron {
	background-color: #f8f8f8;
}

.block {
	background-color: #f8f8f8;
}

.inner {
	max-width: 42em;
}

.card-img-top {
	padding-bottom: 60%;
	height: 0;
	overflow-y: hidden
}

.card-img-top img{
	width: inherit;	
}

.row {
	margin: 15px;
}

.imgfit {
	overflow-y: hidden;
	overflow-x: hidden;
}

.imgfit.l {
	padding-left: 0px;
}

.imgfit.r {
	padding-right: 0px;
}

.imgfit.m {
	display: none;
}

.imgfit.w {
	display: block;
}

@media only screen and (max-width: 768px) {
	.imgfit.r {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.imgfit.l {
		padding-left: 0px;
		padding-right: 0px;
	}

	.imgfit.m {
		display: block;
	}

	.imgfit.w {
		display: none;
	}
}

.imgfit img {
	width: 100%;	
	border-radius: 5px;
}

.text-left {
	text-align: left;
}

.collapse.in {
	display: block !important;
}

.in {
	display: block !important;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(248, 248, 248, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(248, 248, 248, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #f8f8f8;
  border-bottom-color: #f8f8f8;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.panel-title a {
	color: #f8f8f8;
	
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
}

.accordion {
	background: #82d0f1;
	border: #82d0f1;
	border-radius: 5px;
}

.btn-primary {
	background-color: #82d0f1;
	border-color: #82d0f1;
}

.invalid {
	border-color: red;
	box-shadow: 0 0 5px red;
}

.selected {
	border-color: gold !important;
	box-shadow: 0 0 5px gold;
}

.nopad {
	padding-left: 0px;
	padding-right: 0px;
	border: transparent;
	border-radius: 5px;
}

.margin-r-1 {
	margin-right: auto;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(248, 248, 248, .5);
}
